.home-layout-header {
  width: 100vw;
  height: 80px;
  border-bottom: 1px solid #efefef;
  box-shadow: 0 5px 20px #efefefef;
  padding: 0px 30px 0px 15px;
  background-color: @primary-color;

  &__logo {
    width: 50px;
    height: 50px;
    margin-right: 7px;
  }

  &__avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  &__user-name::after {
    content: '';
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-top-color: white;
    border-bottom: none;
    display: inline-block;
    margin-left: 15px;
  }

  &__nav-item {
    height: 100%;

    &__icon {
      width: 28px;
      height: 28px;
    }

    &__label {
      color: white;
      font-size: 18px;
      font-weight: bold;

      &--activity {
        color: @primary-color;
        font-size: 20px;
      }
    }
  }

  &__dropdown {
    width: 180px;
    .ant-dropdown-arrow {
      top: 0;
    }

    .ant-dropdown-menu {
      margin-top: -10px;
      box-shadow: 0px 2px 12px 0px rgb(0 0 0 / 6%);
      border: 1px solid #E4E7ED;
      border-radius: 5px;
    }

    .ant-dropdown-menu-item {
      font-size: 14px;
      color: #606266;
      padding: 5px 20px;

      &:hover {
        background: #F5FAFA;
      }

      &:active,
      &:visited {
        color: @primary-color;
        font-weight: 500;
        background: #F5FAFA;
      }
      &+.ant-dropdown-menu-item{
        margin-top: 15px;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .home-layout-header__nav-item {
    padding: 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  .home-layout-header__nav-item {
    padding: 0 50px;
  }
}