.suffer-wrapper {
  .suffer-header {
    height: 60px;
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
    line-height: 60px;

    span.suffer-header-span1,
    span.suffer-header-span0 {
      display: inline-block;
      width: 160px;
      text-align: center;
      &.selected {
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #128078;
      }
    }

  }
  .suffer-content {

  }
}